<div class="container-fluid mt-5 about-style" id="serviceid">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <h1 class="text-center main-heading"> our Services</h1>
                    <p class="text-center sub-heading">grow your BUSINESS with us</p>
                    <div class="row">
                        <div class="col md-4">
                            <div class="box">
                                <div class="our-services settings">
                                    <div class="icon">
                                        <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                                    </div>
                                        <h4>settings</h4>
                                        <p>Lorem Ipsum</I></p>
                                    </div>
                                </div>
                            </div> 
                             <div class="col md-4">
                            <div class="box">
                                <div class="our-services backups">
                                    <div class="icon">
                                        <img src="https://i.imgur.com/vdH9LKi.png" alt="">
                                    </div>
                                        <h4>settings</h4>
                                        <p>Lorem Ipsum</I></p>
                                    </div>
                                </div>
                            </div> 
                             <div class="col md-4">
                            <div class="box">
                                <div class="our-services ssl">
                                    <div class="icon">
                                        <img src="https://i.imgur.com/v6OnUqu.png" alt="">
                                    </div>
                                        <h4>settings</h4>
                                        <p>Lorem Ipsum</I></p>
                                    </div>
                                </div>
                            </div> 
                             <div class="col md-4">
                            <div class="box">
                                <div class="our-services database">
                                    <div class="icon">
                                        <img src="https://i.imgur.com/VzjZw9M.png" alt="">
                                    </div>
                                        <h4>settings</h4>
                                        <p>Lorem Ipsum</I></p>
                                    </div>
                                </div>
                            </div> 
                             <div class="col md-4">
                            <div class="box">
                                <div class="our-services settings">
                                    <div class="icon">
                                        <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                                    </div>
                                        <h4>settings</h4>
                                        <p>Lorem Ipsum</I></p>
                                    </div>
                                </div>
                            </div> 
                             <div class="col md-4">
                            <div class="box">
                                <div class="our-services settings">
                                    <div class="icon">
                                        <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                                    </div>
                                        <h4>settings</h4>
                                        <p>Lorem Ipsum</I></p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                       </div>
                       </div>
                       </div>
                       </div>
                
                       
                       

                